@import 'normalize.scss';
@import 'theme.scss';
@import 'animate.scss';

html, body {
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--primary);
  letter-spacing: 1px;

  .App {
    color: #fff;
    margin-top: 10%;

    h1 {
      font-size: 4.5rem;
      margin-bottom: 40px;
    }

    form {

      input {
        line-height: 2.5;
        letter-spacing: 1.5px;
      }

      .form-check-label {

        &:hover {
          cursor: pointer;
          letter-spacing: 1.7px;
          transition: letter-spacing 0.3s ease-out;
        }
      }

      small {
        color: #fff;
      }
    }
  }

  .quiz-form {
    letter-spacing: 1.5px;

    .box {
      min-width: 400px;
      background-color: transparent;

      .header {
        font-size: 1.5em;
      }

      .author {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        width: auto;
        max-width: 400px;

        p {
          width: 50%;
        }

        .box-info {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;

          img {
            max-width: 30%;
            border-radius: 50%;
          }
          p {
          }
        }
      }

      .list-group {

        .list-group-item {
          font-size: 1.5em;

          &:hover {
            cursor: pointer;
            letter-spacing: 1.8px;
            transition: letter-spacing 0.3s ease-out;
          }
        }
      }
    }

    .last-step {
      display: flex;
      flex-direction: column;
      width: auto;
      min-width: 400px;

      ul {

        .list-group-item {
          color: var(--gray-dark);
          font-size: 1.8em;
        }
      }
    }
  }
}

