@import 'normalize.scss';
@import 'theme.scss';
@import 'animate.scss';

html, body {
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--primary);
  letter-spacing: 1px;

  .App {
    color: #fff;
    margin-top: 10%;

    h1 {
      font-size: 4.5rem;
      margin-bottom: 40px;
    }

    form {

      input {
        line-height: 2.5;
        letter-spacing: 1.5px;
      }

      .form-check-label {

        &:hover {
          cursor: pointer;
          letter-spacing: 1.7px;
          transition: letter-spacing 0.3s ease-out;
        }
      }

      small {
        color: #fff;
      }
    }
  }

  .quiz-form {
    letter-spacing: 1.5px;

    .box {
      min-width: 400px;
      background-color: transparent;

      .header {
        font-size: 1.5em;
      }

      .list-group {

        .list-group-item {
          font-size: 1.5em;

          &:hover {
            cursor: pointer;
            letter-spacing: 1.8px;
            transition: letter-spacing 0.3s ease-out;
          }
        }
      }
    }
  }
}

